
body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: orange;
    position: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url('/images/innovation.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(1);
    color: whitesmoke;
} 
a{
    transition: background-color 0.3s ease;
    background-color: yellow;
    border-radius: 200px;
    width: auto;
    padding: 1pc;
}
a:hover{
    background-color: rgba(0, 123, 255, 0);
}
h1, h2, h3{
    color: cyan;
}
li{
    color: rgb(243, 243, 248);
    text-align: justify;
}
b{
    text-decoration: underline;
    color: yellowgreen;
}
p{
    color: blanchedalmond;
}
Link{
    
    color: blueviolet;
}
Image{
    border-radius: 200px;
}
h1{
    text-decoration:overline;
}
h2{
    text-decoration: underline;
}
ul{
    font-size: larger;
}
h3{
    font-size: 200%;
}