
body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    position: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(1);
    color: whitesmoke;
} 

a{
    transition: background-color 0.3s ease;
    padding: 0%;
    padding: 0.5pc;
    color: white;
}
a:hover{
    background-color: rgb(180, 231, 231);
}
h1, h2, h3{
    color: cyan;
}
li{
    color: rgb(243, 243, 248);
    text-align: justify;
}
b{
    text-decoration: underline;
    color:gold;
}
p{
    color: white;
}
Link{
    color: blue;
}
Image{
    border-radius: 50%;
}
h1{
    text-decoration:overline;
}
h2{
    text-decoration: underline;
}
ul{
    font-size: larger;
}
button{
    align-items: center;
    align-content: flex-end;
    right: 0;
    top: 50;
    color: black;
}