.bckgrnd{
    background-image: url('/images/biz.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 1350px;
}
.letters {
    color: rgb(192, 166, 166)06, 111, 111));
    font-size: 30px;
}
.uppercase{
    color: cyan;
}
.profile{
size: 2px;
}
.blog{
    font-size: 20px;
    font-style: inherit;
}
.headx{
    background: -moz-radial-gradient();
    outline: 2rem;
    flex: content;
    color: black;
    font-size: 30px;

}
.headingx2{
    font-size: 50px;
    font-weight: bold;
    color: rgb(9, 18, 92);
}
.classes{
    color: black;
    flex-shrink: inherit;
    font-size: 30px;
}

.mkt{
    background-color: yellow;
}
.venture{
    background-color: black;
    position:inherit;
    justify-content: center;
    border-radius: 20%;
    text-align: center;
    align-items: center;
}
.lee{
    justify-content: right;
    display: flex;
}
.h1x{
    text-align: center;
}
.button{
    justify-content: right;
    display: flex;
}
.h3x{
    font-size: 60%;
}
.txt3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.image{
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
padding: 0%;
margin: -5px;
gap: 0%;
}

.par{
    font-size: 10px;
    text-align: center;
    font-style: inherit;
    font-size: 20px;
    color:rgb(217, 237, 247);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.ico{
    display: flexbox;
}