.bckgrnd{
    background-image: url('/images/biz.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 1350px;
}
.letters {
    color: black;
    font-size: 30px;
    
}
.uppercase{
    color: cyan;
}
.profile{
size: 2px;
}
.blog{
    font-size: 20px;
    font-style: inherit;
}
.headx{
    background: -moz-radial-gradient();
    outline: 2rem;
    flex: content;
    color: black;
    font-size: 30px;

}
.headingx2{
    font-size: 50px;
    font-weight: bold;
    color: rgb(9, 18, 92);
}
.classes{
    color: black;
    flex-shrink: inherit;
    font-size: 30px;
}

.mkt{
    background-color: yellow;
}
.venture{
    background-color: black;
    position:inherit;
    justify-content: center;
    border-radius: 20%;
    text-align: center;
    align-items: center;
}
.lee{
    text-align: center;
}
